@import "tailwindcss";
@plugin "daisyui";

@theme inline {
    --color-card: #12131a;
    --color-accent: #ccff00;
    --color-accent-bg: #1a2312;
    --font-inter: var(--font-inter);
    --font-oswald: var(--font-oswald);
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: #ffffff;
}
